h1 hello, the following author has been created
h3 Username
= @author.user_name
h3 Profile Picture
= image_tag @author.profile_picture
h3 Bio
= @author.bio
h4 Trip description
// include text area form field here to manually update field